@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.error-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  margin: 8% auto auto auto;
  padding: 5px 10px 20px 10px;
  background-color: color(secondary);
  border-radius: 12px;
  .error-title {
    // med-label mixin
    @include med-label(primary-contrast, center);
  }
  .error-text {
    // text mixin
    @include text(normal, null);
  }
}
