@import '../../../styles/mixins.scss';

.list {
  display: flex;
  justify-content: space-around;
  padding: 16px 2vw;
  flex-wrap: wrap;
}
// Message when actual content can't be displayed
.altMessage {
  display: flex;
  align-items: center;
  height: calc(60vh - 16px);
  p {
    @include text(normal, text);
  }
}
